@font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
        src: local('Material Icons'),
             local('MaterialIcons-Regular'),
             url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
             url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
             url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Styles */
h2{
  color:gray;
}
.nocategory, .noTask{
  padding-top: 60px;
  text-align: center;
}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}
a:focus, a:hover {
    color: orange;
    text-decoration: none;
}
a{
  text-decoration: none;
  color:deepskyblue;
  font-weight: bold;
}
a.active {
  color: orange;
}
.InputForm {
    margin-bottom: 20px;
    margin-top: 30px;
}
.taskInputForm .InputForm form {
    text-align: right;
    padding-right: 35px;
}
ul.childClosed{
  display: none;
}
ul.childOpeneded{
  display: block;
}
li.list-group-item > ul {
 border:none;
}
li.list-group-item{
  padding-right: 0;
  border-right: none;
  padding-left: 24px;
  position:relative;
}
ul.list-group{
  border-right: 1px solid #ddd;
  margin-bottom: 0;
}
ul.list-group.inner{
  margin-top:8px;
}
i.tree {
    left:0;
    top: 6px;
    position: absolute;
    cursor:pointer;
    
}
i.add{
    position: absolute;
    right: 5px;
    top: 7px;
    font-size: 24px;
    cursor:pointer;
}
i.move{
  position: absolute;
  right: 5px;
  top: 7px;
  font-size: 24px;
  cursor:pointer;
}
i.delete{
    position: absolute;
    right: 30px;
    top: 8px;
    font-size: 20px;
    cursor:pointer;
}
i.taskEdit{
  position:absolute;
  right:10px;
  cursor:pointer;
  border:1px solid;
  border-radius: 3px;
  font-size: 15px;
}
i.categoryEdit{
 cursor: pointer;
 border: 1px solid;
 border-radius: 3px;
 font-size: 12px;
 margin-left: 5px;
}
.toolbar {
    display: flex;
    color: grey;
}
.toolbar .toggle-tasks {
    padding-top: 11px;
    margin-left: auto;
    margin-right: 20px;
}
.search-tasks {
    line-height: 18px;
    width: 200px;
    height: 26px;
    color: grey;
    position: relative;
    margin-left: 40px;
}
.clear {
    top: 5px;
    padding-right: 5px;
    right: 0;
    position: absolute;
    cursor:pointer;
}
.search-tasks .search-input {
    padding-left: 5px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 100%;
}
.toolbar input[type='text'], textarea {
    padding-left: 5px;
}
.toolbar-wrapper{   
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex: 1;
    margin-bottom: 10px;
}
.Header a{
    text-decoration: none;
    color: gray;
}
.Header {
    margin-bottom: 0;    
    height: 130px;
    display: flex;
    padding: 10px 0;
    box-sizing: border-box;
    flex-flow: column;
}
.Header h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
input#doneFilter {
    margin: 0 -15px;
    height: 16px;
    width: 15px;
}
.taskEditButtons{
  float:right;
  margin-top: 10px;
  margin-bottom: 40px;
}
.taskEditButtons > input {
    margin-left: 19px;
}
.ProgressBar progress{
    width: 100%;
    height: 10px;
}
.ProgressBar progress[value] {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

}
.ProgressBar progress[value]::-webkit-progress-value {
    background-image:
            -webkit-linear-gradient(45deg, transparent 63%, rgba(0, 0, 0, .1) 23%, rgba(255,255,255, .1) 66%, transparent 66%),
            -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
            -webkit-linear-gradient(right, #23d24e, #E91E63);
    transition: all 2s;
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
.skylight-dialog h2{  
  color:grey;
  padding-bottom:25px;
}

